.table th{
    text-align: center;
}

#tBody td{
    text-align: center;
}

#tBody td a{
   color: black;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}