
.container-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    width: 900px;
    margin-left: 50px;
}

.form{
    width: 90%;
}

/* .form-group{
    margin-top: 20px;
}
.form-group input{
   margin-right: 15px;
} */
   
