.divroot{
    flex-direction: column;
}
.cards{
    display: flex;
   
    width: 950px;
    justify-content: space-between;
    padding: 5px;
    margin-top: 15px;

}
.card-adm{
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 10px 5px 5px #ccc;
    width: 200px;
    height: 100px;
    padding: 8px;
 

}
.card-adm h2{
    font-size: 18px;
    margin-right: 15px;
}



#table-users{
    width: 950px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    justify-content: center;
    display: flexbox;
    margin: 15px 30px 15px 30px;
    
    padding: 10px;
    box-shadow: 5px 10px #e6e5e5;
}
#table-users h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}
.divroot{
    display: flex;
    justify-content: center;
    align-items: center;
}