<div class="sidebar-heading">FE-SCAM </div>
<div class="list-group list-group-flush">
    <a href="/src/pages/enfermeiroChefe/enfchefe.html" class="list-group-item list-group-item-action bg-light"><span class="fa fa-home mr-3"></span> Home</a>
    <a href="/src/pages/enfermeiroChefe/cadastrarPaciente.html" class="list-group-item list-group-item-action bg-light"><span class="fa fa-user-plus mr-3"></span> Cadastrar Paciente</a>
    <a href="/src/pages/enfermeiroChefe/listarPaciente.html" class="list-group-item list-group-item-action bg-light"><span class="fa fa-list mr-3"></span> Listar Pacientes</a>
    <a href="/src/pages/enfermeiroChefe/cadastrarFarmaco.html" class="list-group-item list-group-item-action bg-light"><span class="fa fa-medkit mr-3"></span>Cadastrar Fármaco</a>
    <a href="/src/pages/enfermeiroChefe/designarEnfermeiro.html" class="list-group-item list-group-item-action bg-light"><span class="fa fa-user-md mr-3"></span>Designar Enfermeiro</a>
    <a href="/src/pages/enfermeiroChefe/designarEnfermeiro.html" class="list-group-item list-group-item-action bg-light"><span class="fa fa-list mr-3"></span>Listar Enfermeiros</a>
    <a href="/src/pages/enfermeiroChefe/alarme.html" class="list-group-item list-group-item-action bg-light"><span class="fa fa-clock-o mr-3"></span>Alarme</a>
    
</div>