<div class="sidebar-heading">FE-SCAM </div>
<div class="list-group list-group-flush">
    <a href="/src/pages/enfermeiro/enf.html" class="list-group-item list-group-item-action bg-light"><span class="fa fa-home mr-3"></span> Home</a>
    <a href="/src/pages/enfermeiro/cadastroPaciente.html" class="list-group-item list-group-item-action bg-light"><span class="fa fa-user-plus mr-3"></span> Cadastrar Paciente</a>
    <a href="#" class="list-group-item list-group-item-action bg-light"><span class="fa fa-list mr-3"></span> Listar Pacientes</a>
    <a href="#" class="list-group-item list-group-item-action bg-light"><span class="fa fa-medkit mr-3"></span>Gerenciar Histórico de Ocorrência</a>
    
    
</div>