{% extends 'base.html' %} {% block main %}
<form>
  <div class="form-group" style="width: 40%">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome" />
    <label for="nome">Sobrenome</label>
    <input
      type="text"
      class="form-control"
      id="sobrenome"
      placeholder="Sobrenome"
    />
    <div class="form-group">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Estagiário</label>
    </div>
  </div>

  <br />
  <button id="btnCadastroEnfermeiro" type="submit" class="btn btn-primary">
    Cadastrar
  </button>
</form>
<script src="{{ url_for('static', filename='js/cadastro.js') }}"></script>
{% endblock %}
