{% extends 'base.html' %} {% block main %}
<form>
  <div class="form-group row">
    <div class="col">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome" />
      </div>

      <div class="form-group">
        <label for="nome">Sobrenome</label>
        <input
          type="text"
          class="form-control"
          id="sobrenome"
          placeholder="Sobrenome"
        />
      </div>

      <div class="form-group">
        <label for="nome">CPF</label>
        <input type="text" class="form-control" id="cpf" placeholder="CPF" />
      </div>
      <div class="form-group">
        <label for="tiposangue">Tipo Sanguíneo</label>
        <select class="form-control" id="tiposangue">
          <option>O+</option>
          <option>O-</option>
          <option>AB+</option>
          <option>AB-</option>
          <option>B-</option>
        </select>
      </div>

      <br />
      <button id="btnCadastroPaciente" class="btn btn-primary">
        Cadastrar
      </button>
    </div>
    <div class="col">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
          </tr>
        </thead>
        <tbody>
          {% for item in remedios: %}
          <tr>
            <td>{{item['id']}}</td>
            <td>{{item['nome']}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</form>
<script src="{{ url_for('static', filename='js/cadastro.js') }}"></script>
{% endblock %}
