<html lang="pt-br">
  {% extends "baseAdm.html" %}
  <head>
    {% block head %}
    {{ super() }}
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', path='css/adm.css')}}">
    <link rel="stylesheet" href="/static/css/styleadm.css" />
    <script src="/static/js/adm.js"></script>
    {% endblock %}

    {% block title %}{% endblock %}
    
  </head>

  <body>
    {% block mainadm %}
    {{ super() }}
    <div id="wrapper">
    
      <div id="page-content-wrapper">
        
        <div class="divroot">
          <div class="cards">
            <div class="card-adm">
              <h2>QTD ADM</h2>
              <h3 id='qtd-adm'></h3>
            </div>
            <div class="card-adm">
              <h2>QTD ENFCHE</h2>
              <h3 id='qtd-enf-chefe'></h3>
            </div>
            <div class="card-adm">
              <h2>QTD ENFE</h2>
              <h3 id='qtd-enfe'></h3>
            </div>
            <div class="card-adm">
              <h2>QTD EST</h2>
              <h3 id='qtd-est'></h3>
            </div>
          </div>
          <div id="table-users">
            <h3>Usuários Ativos</h3>
            
            <input id='txtBusca'>
            <button type="submmit" onclick ="get_user()" class="btn btn-primary">
              <span class="glyphicon glyphicon-send"></span>
              Pesquisar
            </button>
            <button type="submmit" onclick = "get_all_users()" class="btn btn-primary">
              <span class="glyphicon glyphicon-send"></span>
              Atualizar
            </button>
            
            <table class="table" id="tb_user">
              <thead>
                <tr>
                  <th scope="col">CPF</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Função</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Excluir</th>
                </tr>
              </thead>
              <tbody id="tBody"></tbody>
            </table>
          </div>
        </div>

       
      </div>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/adm.controller.js"></script>
    <script src="../static/js/cadastro.user.js"></script>
    

    <!--<script src="/static/js/main.js"></script>s-->
    {% endblock %}
  </body>
</html>
