<html lang="pt-br">

<head>
    <title>FE-SCAM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="{{ url_for('static', path='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', path='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/adm.js') }}"></script>
    
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/styleadm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <div id="sidebar-wrapper"></div>
        <div id="page-content-wrapper">
            <nav id="navbar"></nav>
            <div  class="divroot"> 

              <div id="table-users">
                <h3>Usuários Ativos</h3>
                <table class="table table-dark">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Excluir</th>
                      </tr>
                    </thead>
                    <tbody>
                       
      
                    </tbody>
                    
                  </table>
              </div>
            </div>

              <button type="button" onclick="getAllUsuarios()" class="btn btn-primary">
                <span class="glyphicon glyphicon-send"></span>
                Atualizar
            </button>

        </div>
    </div>

    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/src/controllers/adm.controller.js"></script>
   <!--<script src="{{ url_for('static', path='js/main.js') }}"></script>s--> 
   
</body>

</html>
