<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', path='css/sidebar.css') }}">

    <script src="{{ url_for('static', path='bootstrap/js/bootstrap.bundle.min.js') }}" ></script>



    {% endblock %}
    {% block title %}<title>FES-CAM</title>{% endblock %}
</head>
<body>
    {% block mainadm %}
    <header>
    <nav class="navbar navbar-light bg-light shadow">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <span class="navbar-toggler-icon"></span>
          </button>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Menu do Administrador</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="/admin">
                    Home
                  </a>
                </li>
                <li class="list-group-item">
                  <a href='/cadastro-usuario'>
                    Cadastrar Usuário
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="/gerar-log">
                    Gerar Log
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="/gerar-relatorio">
                    Gerar Relatorio
                  </a>
                </li>
                <li class="list-group-item">
                  <a href="/fazer-backup">
                    Fazer Backup
                  </a>
                </li>
                <li class="list-group-item">
                  <a onclick=logout()>
                    Logout
                  </a>
                </li>

              </ul>




        </div>
        <div class="modal-footer">
          
         
        </div>
      </div>
    </div>
  </div>


        </div>
      </nav>
    </header>
    {% endblock %}
    {% block content %}
    
     <!--  conteudo aqui -->
    
    {% endblock %}
</body>
</html>