<!DOCTYPE html>
<html lang="pt-br">
{% extends "base.html" %}
<head>
  {% block main %}
  {{ super() }}
  {% endblock %}
</head>
<body>
    {% block mainest %}
    <header>
    <nav class="navbar navbar-light bg-light shadow">
        <div class="container-fluid">

          <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <span class="navbar-toggler-icon"></span>
          </button>
          

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Menu do Estagiario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Listar Pacientes</li>
                <li class="list-group-item">Gerenciar Histórico de Ocorrência</li>
              </ul>




        </div>
        <div class="modal-footer">
         
        </div>
      </div>
    </div>
  </div>


        </div>
      </nav>
    </header>
    {% endblock %}
</body>
</html>