<html lang="pt-br">

<head>
    <title>FE-SCAM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="{{ url_for('static', path='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', path='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/adm.js') }}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">


</head>

<body>

    <div class="d-flex" id="wrapper">

        <div id="sidebar-wrapper"></div>
        <div id="page-content-wrapper">
            <nav id="navbar"></nav>
            <div class="container-fluid">
                <form action="/novo-usuario" method="POST">
                    <div class= "form-group">
                        <label for="cpf">CPF:</label>
                        <input type="text" id="cpf" />
                    </div>
                    <div class= "form-group">
                        <label for="nome">Nome de usuário:</label>
                        <input type="text" id="nome" />
                    </div>
                    <div class= "form-group">
                        <label for="email">E-mail do usuário:</label>
                        <input type="email" id="email" />
                    </div>
                    <div class= "form-group">
                        <label for="senha">Senha:</label>
                        <input type="text" id="senha" />
                    </div>
                    <div class= "form-group">
                        <label for="tipofuncao">Tipo de função</label><br>
                        <input type="radio" id="enfchefe" name="tipo" value="enfchefe">
                        <label for="enfchefe">Enfermeiro Chefe</label><br>
                        <input type="radio" id="enfermeiro" name="tipo" value="enfermeiro">
                        <label for="enfermeiro">Enfermeiro</label>
                        <input type="checkbox" id="estagiario" name="estagiario" value="estagiario">
                        <label for="estagiario">É estagiário?</label><br>
                    </div>
                    <button type="button" onclick="salvarUsuario()" class="btn btn-primary">
                        <span class="glyphicon glyphicon-send"></span>
                        Salvar
                    </button>
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-send"></span>
                        Limpar tudo
                    </button>
                </form>
            </div>
        </div>
    </div>

    
    
</body>

</html>
