<html lang="pt-br">
    {% extends "base.html" %}
    {% extends "baseEnfChefe.html" %}
<head>
    
    {% block head %}
    {{ super() }}
    {% endblock %}

    {% block title %}{% endblock %}

    <script type="text/javascript">
        $(document).ready(function(){
          $('#cpf').mask('000.000.000-00');
        })
       $(document).ready(function(){
           $('#dataNascimento').mask('00/00/0000');
       })
        </script>

</head>

<body>
    {% block mainenfchefe %}
    {{ super() }}
    {% endblock %}

        

<form name="formCadastro" method="post" action="Seila">
    <div class="form-group">
        <label>Nome:</label>
        <input type="text" name="nome" id="nome" placeholder="Nome do paciente" />
    </div>

    <div class="form-group">
        <label>Sobrenome:</label>
        <input type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome do paciente" />
    </div>

    <div class="form-group">
        <label>Gênero:</label>
        <input type="text" name="genero" id="genero" placeholder="gênero do paciente" />
    </div>

    <div class="form-group">   
        <label>CPF:</label>
        <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00" />
    </div>
    
    <div class="form-group">   
        <label>Data Nascimento:</label>
        <input type="text" name="Data Nascimento" id="dataNascimento" placeholder="00/00/0000"  />
    </div>

    <div class="form-group">   
        <label>Tipo sanguíneo:</label>
        <select name="Sangue" id="sangue">
            <option value="o+">o+</option>
            <option value="o-">o-</option>
            <option value="a+">a+</option>
            <option value="a-">a-</option>
            <option value="b+">b+</option>
            <option value="b-">b-</option>
            <option value="ab+">ab+</option>
            <option value="ab-">ab-</option>
            </select>
    </div>

    
    
    <button type="button" class="btn btn-primary" onclick="cadastrarPaciente()">
        <span class="glyphicon glyphicon-send"></span>
        Salvar
    </button>
</form>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/src/controllers/enfChefe.controller.js"></script>
      

</body>

</html>