<html lang="pt-br">
    {% extends "baseEnfChefe.html" %}
<head>
    {% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', path='css/adm.posologia.css')}}">
    {% endblock %}

    {% block title %}{% endblock %}


</head>

<body>
    {% block mainenfchefe %}
    {{ super() }}
   
    <div class="container_adm">

        <div class="administracao_med__container">
           
          <form class="form_administracao_posologia">
            <div class="title"><h3>Ordem de Administração e Posologia</h3></div>
              <div class="administracao_med__paciente">
                  <div class="nome_paci">
                      <label for="">Nome Paciente</label>
                      <input id='nome_paciente' type="text">
                  </div>
                  <div class="nome_paci">
                      <label for="">Leito</label>
                      <input id='leito_paci'type="text">
                  </div>
              </div>
              <div class="administracao_med__medicamento">
                 <div class="title_adm"><h5>Administracao de medicamento</h5></div>
                  <div class="nome_med">  
                      <div class="nome_paci" id="med">
                          <label for="">Nome Medicamento</label>
                          <input id='nome_medicamento' type="text">
                      </div>  
                      <div class=' nome_paci' id="tipo">
                          <label for="">Tipo Uso</label>
                          <input id='tipo_uso'type="text">
                      </div>
                  </div>
                  <div class="nome_medicacao">
                      <div class="nome_paci" id="orientacao">
                        <label for="">Orientacao de aplicação</label>
                        <textarea id = 'orientacao'type="text"></textarea>
                      </div>
                      <div class="nome_paci"  id="reacao">
                          <label for="">Possiveis Reações</label>
                          <textarea id='possiveis_reacoes'type="text"></textarea>
                      </div>
                  </div>
              </div>
              <div class="administracao_med__posologia">
                <div class="title_adm"><h5>Posologia</h5></div>
                <div class="dado_posolo">
                    <div class="poso">
                        <label for="">Horario de Aplicação</label>
                        <input id='hora_aplicacao' type="text">
                    </div>
                    <div class="poso">
                        <label for="">Intervalo Aplicação</label>
                        <input id='intervalo_aplicacao' type="text">
                    </div>
                    <div class="poso">
                        <label for="">Frequencia Diaria</label>
                        <input id='frequencia_diaria'type="text">
                    </div>
                    <div class="poso">
                        <label for="">Dosagem</label>
                        <input id ='dosagem'type="text">
                    </div>
                </div>
              </div>
            </form>
        </div>
        <div class="botoes">
            
                <div class="col-sm-6 btn_cadastro">
                  <button id='cadastro-salvar' type="submit" class="btn btn-primary cad" onclick=ordem_administracao()>Cadastro</button>
                </div>
                <div class="col-sm-6 btn_cancelar">
                  <button type="submit" class="btn btn-primary">Cancelar</button>
                </div>
           
        </div>

    </div>

    
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../static/js/enfChefe.controller.js"></script>
    {% endblock %}

</body>

</html>