<html lang="pt-br">

<head>
    <title>FE-SCAM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/enfchefe.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <link rel="stylesheet" href="/static/css/style.css">


</head>

<body>

    <div class="d-flex" id="wrapper">

        <div id="sidebar-wrapper"></div>
        <div id="page-content-wrapper">
            <nav id="navbar"></nav>
            <div class="container">



                <button onclick="getAllPacientes()"></button>


            </div>
        </div>

    </div>



</body>

</html>