<html lang="pt-br">
  {% extends "baseAdm.html" %}
  <head>
    <!-- <title>FE-SCAM</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <script src="{{ url_for('static', path='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', path='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/adm.js') }}"></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/sidebar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/style.css') }}"
    /> -->
    {% block head %}
    {{ super() }}
    <link rel='stylesheet' href="{{url_for('static',path='css/backup.css')}}"/>
    {% endblock %}

    {% block title %}{% endblock %}
  </head>

  <body>

    {% block mainadm %}
    {{ super() }}
    <div id="wrapper">
      <div class="backup_container">
        <h1>Realizar Backup dos dados do Banco</h1>
        <form>
          <div class="form-group">
            <label>Responsável:</label>
            <input type="text" id="pesquisa" />
            <button
              type="button"
              onclick=backup_bd()
              class="btn btn-primary"
              id="btn_backup"
            >
              <span class="glyphicon glyphicon-send"></span>
              <svg
                src="{{ url_for('static', path='bootstrap/icons/download.svg') }}"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-download"
                viewBox="0 0 16 16"
              >
                <path
                  d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
                />
                <path
                  d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
                />
              </svg>
              Baixar Backup
            </button>
          </div>
        </form>
      </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/static/js/adm.controller.js"></script>

    {% endblock %}
  </body>
</html>
