<html lang="pt-br">
  {% extends "baseAdm.html" %}
<head>
<!-- 
    <title>FE-SCAM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="{{ url_for('static', path='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', path='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', path='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='js/adm.js') }}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/sidebar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}"> -->
 {% block head %}
    {{ super() }}
    <link rel='stylesheet' href="{{url_for('static', path='css/gerarLog.css')}}"/>
    {% endblock %}

    {% block title %}{% endblock %}

</head>

<body>
  {% block mainadm %}
  {{ super() }}
    <div id='wrapper'>
      <div class="table_container">
        <h1>Relatorio de Logs</h1>
        <div class="button-upload"> 
          <div class="search">
            <input type="text">
            <button class="btn btn-primary">Pesquisar</button>
          </div>  
          <button type="button" onclick="regerarLog()" class="btn btn-primary">
            <span class="glyphicon glyphicon-send"></span>
            Atualizar
          </button>
        </div>
        <table class="table" id="tb_user">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Usuario</th>
              <th scope="col">Tempo Ativo</th>
              <th scope="col">Hora Login</th>
              <th scope="col">Hora Logout</th>
              <th scope="col">Tipo de Alteração</th>
              <th scope="col">Descrição</th>

            </tr>
          </thead>
          <tbody id="tBody"></tbody>
        </table>
      </div>
      </table> 
      
    </div>
  {% endblock %}
</body>

</html>


