<html lang="pt-br">
  {% extends "baseEnfChefe.html" %}
<head>
    {% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', path='css/listaEnfermeiros.css') }}">
    {% endblock %}

    {% block title %}{% endblock %}

</head>

<body>
  {% block mainenfchefe %}
  {{ super() }}

  <div>
    <div class="container">
        <div class="dashboard-tabela">
            <h1> Lista Enfermeiros</h1>
            <div class="search">
                <input id="txtBusca" type="text" placeholder="nome paciente">
                <button>Pesquisa</button>
            </div>
            <table class="table" id="tb_paciente">
                <thead>
                  <tr>
                    <th scope="col">CPF</th>
                    <th scope="col">Nome</th>
                  </tr>
                </thead>
                <tbody id="tBody"></tbody>
              </table>
        </div>



    </div>
</div>

</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/js/enf.listaEnf.js"></script>
<script src="/static/js/enfChefe.controller.js"></script>
</div>

  {% endblock %}

</body>



</html>

