<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', path='bootstrap/css/bootstrap.min.css') }}" id="bootstrap-css">
        <link rel="stylesheet" href="{{ url_for('static', path='css/style2.css') }}">
        <script src="{{ url_for('static', path='js/login.js') }}"></script>
    </head>
    <body>        
        <div class="wrapper fadeInDown">
            <div id="formContent">
                
                <div class="fadeIn first">
                    <img src="{{ url_for('static', path='css/man-300x300.png') }}" id="icon" alt="User Icon" /> 
                </div>

                <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuário">
                    <input type="text" id="password" class="fadeIn third" name="login" placeholder="Senha">
                </form>
                <button type="button" onclick="logar()" class="btn btn-primary">LOG IN</button>

                <div id="formFooter">
                <a class="underlineHover" href="#">Esqueci a senha</a>
                </div>

            </div>
        </div>
    </body>
</html>