<div class="sidebar-heading">FE-SCAM </div>
<div class="list-group list-group-flush">
    <a href="{{ url_for('static', path='templates/adm.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-home mr-3"></span> Home</a>
    <a href="{{ url_for('static', path='templates/cadastroUsuario.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-user-plus mr-3"></span> Cadastrar Usuário</a>
    <a href="#" class="list-group-item list-group-item-action bg-light"><span class="fa fa-list mr-3"></span> Listar Usuário</a>
    <a href="{{ url_for('static', path='templates/gerarLog.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-share-square-o mr-3"></span>Gerar Log</a>
    <a href="{{ url_for('static', path='templates/gerarRelatorio.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-share-square-o mr-3"></span>Gerar Relatório de Uso</a>
    <a href="{{ url_for('static', path='templates/adm.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-list mr-3"></span>Listar Usuário</a>
    <a href="{{ url_for('static', path='templates/fazerBackup.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-clone mr-3"></span>Fazer Backup</a>
    
</div>

