<div class="sidebar-heading">FE-SCAM </div>
<div class="list-group list-group-flush">
    <a href="{{ url_for('static', path='templates/enfchefe.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-home mr-3"></span> Home</a>
    <a href="{{ url_for('static', path='templates/cadastrarPaciente.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-user-plus mr-3"></span> Cadastrar Paciente</a>
    <a href="{{ url_for('static', path='templates/listarPaciente.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-list mr-3"></span> Listar Pacientes</a>
    <a href="{{ url_for('static', path='templates/cadastrarFarmaco.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-medkit mr-3"></span>Cadastrar Fármaco</a>
    <a href="{{ url_for('static', path='templates/designarEnfermeiro.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-user-md mr-3"></span>Designar Enfermeiro</a>
    <a href="{{ url_for('static', path='templates/listarEnfermeiro.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-list mr-3"></span>Listar Enfermeiros</a>
    <a href="{{ url_for('static', path='templates/alarme.html') }}" class="list-group-item list-group-item-action bg-light"><span class="fa fa-clock-o mr-3"></span>Alarme</a>
    
</div>

