<div class="sidebar-heading">FE-SCAM </div>
<div class="list-group list-group-flush">
    <a href="/admin" class="list-group-item list-group-item-action bg-light"><span class="fa fa-home mr-3"></span> Home</a>
    <a href="/cadastro-usuario" class="list-group-item list-group-item-action bg-light"><span class="fa fa-user-plus mr-3"></span> Cadastrar Usuário</a>
    <a href="#" class="list-group-item list-group-item-action bg-light"><span class="fa fa-list mr-3"></span> Listar Usuário</a>
    <a href="/gerar-log" class="list-group-item list-group-item-action bg-light"><span class="fa fa-share-square-o mr-3"></span>Gerar Log</a>
    <a href="/gerar-relatorio" class="list-group-item list-group-item-action bg-light"><span class="fa fa-share-square-o mr-3"></span>Gerar Relatório de Uso</a>
    <a href="/fazer-backup" class="list-group-item list-group-item-action bg-light"><span class="fa fa-clone mr-3"></span>Fazer Backup</a>
    
</div>

